body{
    font-family: arial, sans-serif;
    background-image: url('https://i.dlpng.com/static/png/5487144-5-light-blue-watercolor-splash-background-jpg-onlygfxcom-blue-watercolor-splash-3492_2777_preview.png');
    opacity: 0.99;
}


h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}
ul {
    padding: 0;
    margin: 0;
    
}

li {
    list-style: none;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: left;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    color:#2bb3a9;
    ;
}
.btn {
    background-color: #2bb3a9; 
    border: white;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 70px auto;
}
.weather-app {
    padding: 20px;
    border: 2px solid #2bb3a9;
    border-radius: 8px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    float: left;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    height: auto;
    line-height: 1;
    text-align: left;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}
.weather-forecast {
    margin-top: 10px;
  }
  
  .weather-forecast h3 {
    color: rgb(186, 186, 186);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
  }
  
  .weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
  
  .weather-forecast-temperature {
    text-align: center;
    color: rgb(135, 135, 135);
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;


  }.weather-forecast {
    margin-top: 10px;
  }
  
  .weather-forecast h3 {
    color: rgb(186, 186, 186);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
  }
  
  .weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
  
  .weather-forecast-temperature {
    text-align: center;
    color: rgb(135, 135, 135);
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
  }
#description {
    text-transform: capitalize;
}

#open-source {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

#country {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

